<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Automation Testing">
  <test name="Smoke Test Cases">
    <classes>
       <class name="testingFiles.Annotations2"/>
       <class name="testingFiles2.Annotations"/>
    </classes>
   </test>
</suite>   

